
      <h1>Your HackersHike</h1>

      <% if flash.has?(:message) %>
      <h3><%= flash[:message] %></h3>
      <%end%>

      Name: <%=@hike.name%></br>
      Location: <%=@hike.location%></br>
      Description: <%=@hike.description%></br>
      Difficulty: <%=Difficulty.find(@hike.difficulty_id).rank%>
      <br></br>
      <a href="/hikes/<%=@hike.slug%>/edit" class="btn btn-info" role="button">Edit Hike</a>
    </div>

    </form>

  
